
    {% extends "header.html" %}
    {% block content %}
     {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/gen.css' %}">
    <div class="block-content">
        <div class="content">
            <div class="menu">
                <div class="head">
                    <div class="templ-block block no_active"><a href="/basa/templ" class="way">Шаблоны титульников</a></div>
                    <div class="way-block block no_active"><a href="/basa/way" class="way">Мой путь учения</a></div>
                    <div class="gen-block block"><a href="/basa/gen" class="templates">Генератор списка источников</a></div>
                </div>

            </div>
            <div class="tabs">
                <div  class="block1">
                    <div class="text_gen">Просто введи тему работы! Приложение само найдёт источники литературы</div>

                </div>


            </div>
             <form  id='load' class="row g-3" action="/basa/gen/list" method="post">
                        {% csrf_token %}
                      <div class="col-auto">
                        <input type="text" class="form-control" id="inputPassword2" placeholder="Тема:" name="theme">
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">искать &#128269;</button>
                      </div>
                    </form>
            <div class="img_gpt">
                <img class="gpt_img" src="{% static 'ya.png' %}" >
            </div>


           <div id="loader-overlay"  style="display: none;">
               <div class="cloud"></div>

               </div>

            
        </div>

    </div>

<script src="{% static 'JS/rain.js' %}"></script>
<script src="{% static 'JS/LoaderGen.js' %}"></script>

    {% endblock %}
