<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>StudentHelper</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}

    <link type="image/x-icon" href="{% static 'icon.gif' %}" rel="shortcut icon">
    <link type="Image/x-icon" href="{% static 'icon.gif' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'CSS/list.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo"></div>
        <div class="student_name">Сидорин Тимофей</div>
        <div class="group">2ИТБ-2</div>
        <div class="line"></div>
        <div class="grant_text">Расчитанная стипендия <br> в текущем семестре:</div>
        <div class="grant">10 086₽</div>
    </div>

    <div class="block-content">
        <div class="content">
            <div class="menu">
                <div class="head">
                    <div class="templ-block block no_active"><a href="/basa/templ" class="way">Шаблоны титульников</a></div>
                    <div class="way-block block no_active"><a href="#way" class="way">Мой путь учения</a></div>
                    <div class="gen-block block"><a href="/basa/gen" class="templates">Генератор списка источников</a></div>
                </div>

            </div>
            {% csrf_token %}
            <div class="container">
            <ol class="rounded" id="myList">
            {%for num,li in theme.items%}
            <li class="hover"><a>{{li}}</a></li>
            {% endfor %}
            </ol>
            </div>
        <div class="navigation">
            <div class="accordance">
                <div class="text-accordance">Список соответствует РД 013-2016</div>
                 <img class="img-accordance" src="{% static 'flop.png' %}" alt="">
            </div>
            <img id="copyButton" src="{% static 'copy.png' %}" alt="Копировать текст">
             <a href="/basa/gen"><img id="backButton" src="{% static 'back.png' %}" alt=""></a>

            </div>
        </div>

    </div>

<script src="{% static 'JS/copy.js' %}"></script>
</body>

</html>