{% extends "header.html" %}
    {% block content %}
     {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/way.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="block-content">
        <div class="content">
            <div class="menu">
                <div class="head">
                    <div class="templ-block block no_active"><a href="/basa/templ" class="templates">Шаблоны титульников</a></div>
                    <div class="way-block block "><a href="/basa/way" class="way">Мой путь учения</a></div>
                    <div class="gen-block block no_active"><a href="/basa/gen" class="generator">Генератор списка источников</a></div>
                </div>
            </div>
                <div class="vertical-line"></div>


                    <div class="RightSector">
                        <div class="progress-title">Твоя стадия обучения</div>

                        <div class="ladder">
                             <div class="line-v"></div>
                             <div class="line-h"><div class="course1"><div class="course1-text">1</div></div></div>
                             <div class="line-v2"></div>
                            <div class="line-h2">
                                <img class="man" src="/static/man.png">
                                <div class="course2"><div class="course2-text">2</div></div>
                            </div>
                            <div class="line-v3"></div>
                            <div class="line-h3"><div class="course3"><div class="course3-text">3</div></div></div>
                             <div class="line-v4"></div>
                            <div class="line-h4"><div class="course4"><div class="course4-text">4</div></div></div>
                        </div>



                    </div>
                <div class="LeftSector">
                <div class="progress-title">Твоя успеваемость</div>
                <div class="GraphContainer"><canvas class="graph" id="myChart" width="400" height="200"></canvas></div>
                </div>

        </div>
    </div>
    <script src="{% static 'JS/graph.js' %}"></script>

  {% endblock %}