


.block-content{
    width:100%;
    height:100%;
    display:grid;
    margin-top: 60px;
    align-items:center;
    justify-content:center;
}

.content{
    position: relative;
    width: 1240px;
    height: 570px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.40);
    border-radius: 40px;
    overflow: auto;
}



.menu{
    align-items: center;

    display:flex;
    background-color:#D9D9D9;
    height: 45px;
    justify-content:center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.30);
    overflow: hidden;
}

.templates{
    color:white;
    font-family: SF Pro Display;
    font-size:0.9 rem;

}

.way{
    color:black;
    font-family: SF Pro Display;
    font-size:0.9 rem;

}

.way-block {

    border-left: 3px solid #381F61;/* Левая рамка шириной 2 пикселя с синим цветом */
    border-right: 3px solid #381F61;
}






.generator{

    color:black;
    font-family: SF Pro Display;
    font-size:0.9 rem;

}

.head{
    height:100%;
    width:100%;
    display:flex;
    flex 0 1 33.333%;
    justify-content:space-around;
}




.text_templ{
    margin-top:45px;
    font-family: SF Pro Display;
    font-size: 1.3rem;
    text-align:center;
    color:#381F61 ;
}


.block{
  display: flex;
  align-items: center;
  justify-content:center;
    width: 33.333%;



}

.template-block{
    border-top-left-radius: 38px;
    background-color:#2644B1 ;
     background-color:#2644B1 ;/* Начальный цвет блока */
     animation: fadeInColor 0.7s ease-out; /* Анимация длительностью 2 секунды с плавным переходом */
}


@keyframes fadeInColor {
  0% {
     background-color:  white; /* Начальный цвет блока */
  }
  100% {
   background-color:#2644B1 ; /* Конечный цвет блока */
  }
}














.gen-block{

     background-color:#2644B1 ;
    border-top-right-radius: 38px;
}




.no_active{
     background-color:  white;
}

.cards{
    display:flex;
    flex-wrap: wrap;


}

.card{


    transition: all  0.5s;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid   rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);



}


.card:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
    border: 2px solid  #381F61;
}

.tabs{

}

.list-group-item{
    text-align:center;
}


.card-header{

}

