* {
	padding: 0px;
	margin: 0px;

}
a, a:link, a:visited  {
    text-decoration: none;
}


a {
  color: #000; /* Цвет текста ссылки (черный) */
  text-decoration: none; /* Убираем подчеркивание ссылки */
}

/* Стили для ссылки при наведении (переопределяем стили) */
a:hover {
  text-decoration: none; /* Убираем подчеркивание ссылки при наведении */
  color: #000; /* Можно оставить тот же цвет текста или указать другой черный (#000) */
}



ul,
ol,
li{
list-style:none;
}

a:hover  {
    text-decoration: none;
}

body{
 position: fixed;
   display:flex;;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: url("./temp.jpg");

  background-repeat: no-repeat;
  background-size: cover;



}

.header{
    display:flex;
    width: 100%;
    height: 130px;
    align-items: center;
    position: absolute;
    background: rgba(220, 220, 220, 0.7);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.70);


}


.logo{

    width: 80px;
    height: 80px;
    margin-left: 60px;
    background: url("/static/ava.jpg");
    border-radius:50%;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.30);
    border: 0.3rem solid #3C58BB;
    cursor:pointer;
    background-size: cover;
    transition: all .3s;
}


.logo:hover{
     transform: scale(1.1);
     transition: all .3s;


}

.student_name{
    margin-left: 41px;
     color:#381F61 ;
    font-family: SF Pro Display;
    font-size: 1.5em;

}


.group{
    margin-left:27px;
    color:#381F61;
    font-family: SF Pro Display;
    font-size: 1.5em;
}

.line{
    margin-left: 45px;
    width:3px;
    height:60px;
    background-color:#381F61 ;

}

.grant_text{
    margin-left: 15px;
    font-family: SF Pro Display;
    color:#381F61 ;
}

.grant{
    margin-left: 30px;
    font-family: SF Pro Display;
    color:#381F61 ;
    font-size:3rem;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.30);
    cursor:pointer;
}


.block-content{
    width:100%;
    height:100%;
    display:grid;
    margin-top: 60px;
    align-items:center;
    justify-content:center;
}

.content{
    position: relative;
    width: 1240px;
    height: 570px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.40);
    border-radius: 40px;
    overflow: auto;
}



.menu{
    align-items: center;

    display:flex;
    background-color:#D9D9D9;
    height: 45px;
    justify-content:center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.30);
    overflow: hidden;
}

.templates{
    color:black;
    font-family: SF Pro Display;
    font-size:0.9 rem;

}

.way{
    color:white;
    font-family: SF Pro Display;
    font-size:0.9 rem;

}

.way-block {

    border-left: 3px solid #381F61;/* Левая рамка шириной 2 пикселя с синим цветом */
    border-right: 3px solid #381F61;
    background-color:#2644B1 ;/* Начальный цвет блока */
    animation: fadeInColor 0.7s ease-out;
}






.generator{
    color:black;
    font-family: SF Pro Display;
    font-size:0.9 rem;

}

.head{
    height:100%;
    width:100%;
    display:flex;
    flex 0 1 33.333%;
    justify-content:space-around;
}




.text_templ{
    margin-top:45px;
    font-family: SF Pro Display;
    font-size: 1.3rem;
    text-align:center;
    color:#381F61 ;
}


.block{
  display: flex;
  align-items: center;
  justify-content:center;
    width: 33.333%;



}

.template-block{
    border-top-left-radius: 38px;

      /* Анимация длительностью 2 секунды с плавным переходом */
}


@keyframes fadeInColor {
  0% {
     background-color:  white; /* Начальный цвет блока */
  }
  100% {
   background-color:#2644B1 ; /* Конечный цвет блока */
  }
}


.gen-block{

     background-color:#2644B1 ;
    border-top-right-radius: 38px;
}


.no_active{
     background-color:  white;
     color:black;
}

















